.app-switch-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 16px;
    border-radius: 8px;
}

.window-preview {
    padding: 14px;
    border: 1px transparent solid;
}

.window-preview-container {
    border-radius: 2px;
}

.selected {
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 8px;
    border-color: var(--primary);
}

.switcher-preview-icon {
    margin-right: 4px;
}