@use 'theme' as *;

window.Bar {
  background: transparent;
  color: var(--k-fg);
  font-family: 'Quicksand';

  > box {
    margin: 4px;
    margin-bottom: var(--bar-margin);
  }

  .networkIcon {
    transform: translateY(-1px);
  }

  .toggle-nc {
    all: unset;
  }

  .MenuButtons, .Tray {
    @include panel;
    border-radius: 20px;
    padding: 4px;
    font-weight: 400;
    font-size: 12px;


    .toggle-powermenu {
      > button {
        padding: 0;
        background: transparent;
        &:hover {
          background-color: var(--k-fill);
        }
        &:checked {
          background-color: var(--k-fill-hover);
        }
        padding: 0 0px;
        border-radius: 12px;
        box-shadow: none;
      }

      .icons {
        color: var(--k-fg);
        padding: 0 6px;
        > * {
          margin: 0 4px;
        }
      }
    }
    .time {
      padding: 0 6px;
    }
  }
}