@use 'theme' as *;

.powermenu-toggle {
    padding: 0 3px;
    border-radius: 50%;
    background: none;
    &:hover {
        background-color: var(--k-fill);
    }
    > button {
        padding: 0;
        background: none;
    }
}
.power-icon {
    transform: scale(0.88);
}
.power-popover {
    box-shadow: none;
    margin-top: 10px;
}
.power-popover contents {
    @include menu;
    border-radius: 8px;
    padding: 12px;
    button {
        padding: 12px;
        background-color: var(--k-fill-subtle);
    }
}