@use 'theme' as *;

.Prompt {
    background-color: rgba(0, 0, 0, 0.4);
}

.prompt-container {
    @include panel;
    padding: 24px;
    border-radius: 12px;
    min-width: 275px;
}

.prompt-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.prompt-text {
    color: var(--k-fg-2);
}

.single-entry {
    margin: 18px 0;
}

.prompt-actions {
    margin-top: 4px;
}