@use 'theme' as *;

.Tray {
    .tray-item {
        background: none;
        border-radius: 12px;
        padding: 0 4px;
        button {
            padding: 0;
            background: none;
        }
        &:hover {
            background-color: var(--k-fill);
        }
        .tray-icon.system {
            filter: var(--k-icon-filter);
        }
        .tray-menu {
            > arrow {
                background-color: var(--k-menu);
                border: 1px solid var(--k-border);
            }
            contents {
                @include menu;
                border-radius: 8px;

                modelbutton:hover {
                    background: var(--primary);
                    color: #000;
                }
            }
        }
    }
}