@use 'theme' as *;

.workspaces-container {
    //background-color: red;
    min-width: 160px;
}

.workspaces {
    @include panel;
    border-radius: 20px;
    font-weight: 400;
    padding: 0 10px;

    .mic-access {
        color: orange;
        border-left: var(--k-divider) 1px solid;
        margin-left: 6px;
        padding-left: 6px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    button {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        box-shadow: none;
        min-width: 14px;
        border-radius: 0;
        padding: 0 3px;
        
        .tile {
            transition: background-color 100ms ease-out;
            min-width: 0px;
            min-height: 6px;
            margin: 13px 0;
            background-color: var(--k-tile);
            border-radius: 13px;
        }

        &.filled .tile {
            min-width: 20px;
            background-color: var(--k-tile-on);
        }


        &:hover {
            // min-width: 20px;
            .tile {
                background-color: var(--k-tile-hover);
            }
        }

        &.active {
            min-width: 20px;
            .tile {
                background-color: var(--primary);
                // margin: 13px 0;
            }
        }

        &.urgent .tile {
            background-color: rgb(243, 62, 49);
        }

        
    }
    
}